<mat-toolbar>
  <mat-toolbar-row>
    <span class="span" id="span"> <i class="fas fa-user-plus    "></i>
 Ajouter Un Employe </span>
<!--    <button mat-raised-button color="warn" mat-dialog-close style="float: right;" matTooltip="Fermer le dialog"> <i-->
<!--      class="fas fa-window-close "></i> </button>-->
  </mat-toolbar-row>
</mat-toolbar>
<form class="normal-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="controles-container">
          <mat-form-field>
            <input matInput placeholder="prenom *" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="nom *" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="CIN *" >

          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Numéro Administratif *">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Gmail" >

          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Téléphone" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Adresse" >
          </mat-form-field>
          <!-- Doti = "FSTG+CIN" -->
          <!-- <mat-form-field>
            <input matInput placeholder="DoTi" [(ngModel)]="employe.doti" [ngModelOptions]="{standalone: true}">

          </mat-form-field> -->
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date De naissance"
                 >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Lieu de naissance : " >

          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Ville de Résidence" >

          </mat-form-field>

        </div>
      </div>
      <div class="col-md-6">
        <div class="controles-container">
          <!--
          <mat-form-field>
            <input matInput placeholder="RIB de Bank " [(ngModel)]="employe.compteBancaireRib" [ngModelOptions]="{standalone: true}">
          </mat-form-field>-->
          <mat-form-field>
            <mat-label>Grade</mat-label>
            <mat-select >
              <mat-option ></mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="pi5" placeholder="Date d'affectation"
                   >
            <mat-datepicker-toggle matSuffix [for]="pi5"></mat-datepicker-toggle>
            <mat-datepicker #pi5></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Situation Familiale</mat-label>
            <mat-select >
              <mat-option value="Marie">Marié</mat-option>
              <mat-option value="Celebataire">Célébataire</mat-option>
              <mat-option value="Divorce">Divorcé</mat-option>

            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Nombre Enfants" >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Département</mat-label>

            <mat-select  >
              <mat-option ></mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fonction</mat-label>
            <mat-select  >
              <mat-option ></mat-option>

            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field> -->
          <!-- <mat-label *ngIf="employe.departement" >Superieur : {{employe.departement.chef.fullname}}</mat-label> -->
          <!-- <mat-select [(ngModel)]="employe.sup" [ngModelOptions]="{standalone: true}">
              <mat-option>None</mat-option>
              <mat-option value="ana">Ana</mat-option>
              <mat-option value="howa">Howa</mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field>
            <input matInput [matDatepicker]="picker5" placeholder="Date D'emabauche">
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-label>Sexe : </mat-label>
            <mat-radio-group >

              <mat-radio-button value="Homme">Homme</mat-radio-button>
              <mat-radio-button value="Femme">Femme</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" style="background-color: #3f8032" class="btn-block" > <i
              class="fas fa-check-circle"></i> Ajouter</button>          </div>
        </div>
      </div>
    </div>
  </div>
</form>
